* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_9 {
  width: 100%;
  height: 1601px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_10 {
  width: 100%;
  height: 100%;
  background: url("../images/v3_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_13 {
  width: 360px;
  height: 68px;
  background: url("../images/v3_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 36px;
  overflow: hidden;
}
